<!DOCTYPE html>

    <div id="article_list">

      <% @articles.each do |article| %>

        <div>
          <h2><%= link_to("#{article.title}", "/articles/#{article.id}") %></h2>
          <p><%= article.created_at %></p>
          <% if user_signed_in? %>
            <p>
              <%= link_to("編集", edit_article_path(article, current_user)) %>
              <%= link_to("削除", article_path(article, current_user), :method => :delete, data: {confirm: "削除してよろしいですか?"}) %>
              <%= current_user.id %>
            </p>
          <% end %>
        </div>
      <% end %>
      </div>
    <div id="sidebar">


        <h2>★PV数ランキング</h2>
        <ul>
          <% @ranking_articles.each do |ranking_article| %>
            <li>
              <%= link_to "articles/#{ranking_article.id}" do %>
                <%= ranking_article.title %>
                <span>（<%= REDIS.zscore("articles","#{ranking_article.id}").to_i %>PV）</span>
              <% end %>
            </li>
          <% end %>
        </ul>


    </div>
    <div class="clear"></div>

</body>
